@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(46, 45, 45);
  color: #fff;
}

header {
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.btn-clear {
  cursor: pointer;
  background-color: rgb(173, 109, 109);
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  color: #fff;
}

.btn-clear:hover {
  background-color: rgb(174, 123, 123);
}

.app {
  display: flex;
  justify-content: center;
}

.todo {
  margin-top: 30px;
  width: 500px;
  padding: 10px;
}

form {
  display: flex;
}

form input,
form button {
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 12px;
  background-color: rgb(87, 85, 85);
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form input:focus {
  background-color: rgb(96, 94, 94);
}

form button {
  font-weight: bold;
  width: 5rem;
  cursor: pointer;
  background-color: rgb(122, 121, 121);
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button:hover {
  background-color: rgb(145, 145, 145);
}

hr {
  opacity: 0.1;
}

.todolist {
  background-color: rgb(87, 85, 85);
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.btn-group {
  display: flex;
  gap: 7px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(46, 45, 45);
}

footer p {
  text-align: center;
  opacity: 0.5;
  font-size: 0.8rem;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}
